body{
    margin: 5px;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    grid-gap: 1em;
    grid-template-rows: minmax(10px auto);
    padding: 10px;
}
.contenedor div{
    background-color: rgb(0, 0, 0);
    color: rgb(216, 240, 0);
    padding: 2em;
    font-size: 18px;
}
.contenedor div:hover {
    border: 2px solid rgb(3, 7, 7);
  }